#glossary-search-box {
    width: 100%;
    border-radius: 5px;
    line-height: 24px;
    display: block;
    padding: 15px 12px 15px 60px;
}

.search-icon {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCA0MCA0MCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjYjZjOWQ2IiBzdHJva2U9IiM3ODhiOWMiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTUuMiwzNi42Yy0wLjUsMC0wLjktMC4yLTEuMy0wLjVjLTAuMy0wLjMtMC41LTAuOC0wLjUtMS4zczAuMi0wLjksMC41LTEuM2wxNi4yLTE1LjRsMS44LDEuOEw2LjUsMzYuMQlDNi4yLDM2LjQsNS43LDM2LjYsNS4yLDM2LjZ6Ij48L3BhdGg+PHBhdGggZmlsbD0iI2QxZWRmZiIgc3Ryb2tlPSIjNzg4YjljIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0yNS41LDI1LjRjLTYsMC0xMC45LTQuOS0xMC45LTEwLjlTMTkuNSwzLjYsMjUuNSwzLjZzMTAuOSw0LjksMTAuOSwxMC45UzMxLjUsMjUuNCwyNS41LDI1LjR6Ij48L3BhdGg+PC9zdmc+') no-repeat 22px center !important;
    background-color:#FFF !important;
    background-size: 30px !important;
}

.index-item {
    border-top: 1px solid #FFF;
    padding: 40px 0 70px;
    position: relative;
}

.index-wrapper .hidden {
    display: none;
}

.index-item-letter {
    background: #FFF;
    border-radius: 50%;
    text-align: center;
}

.index-item ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
}

.index-item ul li {
    list-style-type: none;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.index-item a {
    color: #464646;
    text-decoration: none;
}

@media (min-width: 768px) {
    .index-item-letter {
        position: absolute;
        top: 40px;
        left: 16px;
        font-size: 40px;
        line-height: 78px;
        width: 78px;
        height: 78px;
    }

    .index-item {
        padding-top: 40px;
        padding-left: 164px;
        min-height: 180px;
    }

    .index-item:first-child {
        border-top: 0;
    }
}

@media (max-width: 1024px) {
    .index-item-letter {
        position: absolute;
        top: -23px;
        left: 0;
        z-index: 2;
        font-size: 26px;
        line-height: 46px;
        width: 46px;
        height: 46px;
    }

    .index-search {
        margin-bottom: 40px !important;
    }
}